<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ driver.nome }} Stats</title>
</head>
  <body>
      <h1>Informazioni Pilota</h1>
      <p>Nome: {{ driver.nome }}</p>
      <p>Scuderia: {{ driver.scuderia }}</p>
      <p>Rating: {{ driver.rating }}</p>
      <a href="/">Torna alla Line-Up</a>
  </body>
    <div class="footer-bar">
        <button class="back-button" id="redirect-button-back">
            <div class="back-button-text">
                Next
            </div>
        </button>
    </div>

    <script>
        document.getElementById('redirect-button-back').addEventListener('click', function() {
            window.location.href = 'lineup';
        });
    </script>
</html>
