<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Offers</title>
</head>
<body>
    <form action="{{ url_for('lineup.transfers') }}" method="POST">

        <h2>Seleziona un team</h2>
        <div class="teams-selection">
            {% for team in offerte_giocatore %}
                <div class="team-option">
                    <label for="team_{{ loop.index }}">
                        <!-- Visualizza l'immagine del team -->
                        <img src="{{ url_for('static', filename='images/logos/' ~ team.nome ~ '.png') }}" alt="{{ team.nome }}" class="team-image">

                        <!-- Mostra il nome del team -->
                        <div class="team-name">{{ team.nome.replace('-', ' ').title() }}</div>
                    </label>
                    <!-- Input radio per selezionare il team -->
                    <input type="radio" id="team_{{ loop.index }}" name="team" value="{{ team.nome }}" required>
                </div>
            {% endfor %}
        </div>

        <div class="footer-bar">
            <button type="submit" class="next-button" id="redirect-button">
                <div class="next-button-text">
                    Next
                </div>
            </button>
        </div>
    </form>
</body>
</html>
