<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team.nome | replace('-', ' ') | title }} - Info Squadra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
<h1>{{ team.nome | replace('-', ' ') | title }}</h1>

<div class="team-info-container">
    <!-- Logo del Team -->
    <div class="team-logo-container">
        <img src="{{ url_for('static', filename='images/logos/' ~ team.nome ~ '.png') }}"
             alt="{{ team.nome }}"
             class="team-logo-large">
    </div>

    <!-- Informazioni del Team -->
    <section class="team-details">
        <p>{{ team.nome | replace('-', ' ') | title }}</p>
        {% if team.wcc %}
        <h3>WCC</h3>
        {% for anno in team.wcc %}
        <div>{{ anno }}</div>
        {% endfor %}
        {% endif %}
    </section>

    <!-- Piloti -->
    <div class="grid-item {{ team.nome }}" id="team-{{ team.nome }}">
        <div class="driver-info" id="driver-info-{{ team.nome }}" draggable="false">
            {% for driver in team.piloti %}
            <div class="driver" id="driver-{{ team.nome }}-{{ driver.image }}" draggable="false" data-team="{{ team.nome }}">
                <img src="{{ url_for('static', filename='images/drivers/' + driver.image + '.png') }}" alt="{{ driver.image }}" class="driver-image">
                <div class="jacket">
                    <img src="{{ url_for('static', filename='images/jackets/' + (team.nome|replace(' ', '-') + '-jacket.png')) }}"
                         alt="{{ team.nome }}" class="driver-jacket" draggable="false">
                </div>
                <div class="driver-name">
                    <div class="driver-name-wrapper">{{ driver.nome }}</div>
                </div>
                <h3>Race Wins</h3>
                <p>{{ driver.race_wins }}</p>
                {% if driver.wdc %}
                <h3>WDC</h3>
                {% for wdc in driver.wdc %}
                <div>{{ wdc.scuderia | replace('-', ' ') | title }} ({{ wdc.anno }})</div>
                {% endfor %}
                {% endif %}
                {% if driver.wcc %}
                <h3>WCC</h3>
                {% for wcc in driver.wcc %}
                <div>{{ wcc.scuderia | replace('-', ' ') | title }} ({{ wcc.anno }})</div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="footer-bar">
    <button class="next-button" id="redirect-button">
        <div class="next-button-text">Back</div>
    </button>
</div>

<script>
    document.getElementById('redirect-button').addEventListener('click', function() {
        window.location.href = "{{ url_for('lineup.lineup') }}";
    });
</script>
</body>
</html>
