<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Career</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<style>
    @media (max-width: 768px) {
        /* Centra il titolo sia orizzontalmente che verticalmente e impedisce lo scroll */
        body, html {
            justify-content: center; /* Centra orizzontalmente */
            align-items: center; /* Centra verticalmente */
        }

        h1 {
            text-align: center; /* Centra il testo all'interno dell'elemento h1 */
        }
    }
</style>
<body>
    <h1>F1 CARREER SIMULATOR {{ anno }}</h1>
    <div class="footer-bar">
        <button class="next-button" id="redirect-button">
            <div class="next-button-text">
                Start
            </div>
        </button>
    </div>

    <script>
        document.getElementById('redirect-button').addEventListener('click', function() {
            window.location.href = 'crea-pilota';
        });
    </script>
</body>
</html>
