<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCC Titles Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<style>
    .race-results {
        width: 30%;
        margin: auto;
    }
    .results-container-final {
        height: 88vh;
        overflow-y: auto;
    }
</style>
<body>
    <h1 id="title">WCC Titles Leaderboard</h1>
    <div class="results-container">
    <div class="results-column">
        <ol class="race-results-wcc">
            {% for wcc in wcc_list %}
            <li class="result-item-{{ wcc.scuderia.nome }}">
                <div class="race-position">{{ loop.index }}</div>
                <div class="race-driver">
                    <img src="{{ url_for('static', filename='images/logos/' ~ wcc.scuderia.nome ~ '.png') }}"
                         alt="{{ team }}" class="logo" draggable="false">
                </div>
                <span class="race-driver-name">{{ wcc.scuderia.nome.replace('-', ' ').title() }}</span>
                <span class="race-points">{{ wcc.titoli }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
<div class="footer-bar">
    <button class="next-button" id="redirect-button">
        <div class="next-button-text">Offers</div>
    </button>
        <button class="back-button" id="redirect-button-back">
            <div class="back-button-text">
                Back
            </div>
        </button>
</div>

<script>
    document.getElementById('redirect-button').addEventListener('click', function() {
            window.location.href = 'offers';
        });
    document.getElementById('redirect-button-back').addEventListener('click', function() {
        window.location.href = 'wdc-titles-leaderboard';
    });
</script>
</body>
</html>