@font-face {
    font-family: 'formula1display-bold';
    src: 
        local('formula1display-bold'),
        url('/static/fonts/formula1-bold-webfont.woff2') format('woff2'),
        url('/static/fonts/formula1-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'formula1display-wide';
    src: 
        url('/static/fonts/formula1-wide-webfont.woff2') format('woff2'),
        url('/static/fonts/formula1-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formula1display-regular';
    src: 
        url('/static/fonts/formula1-regular-webfont.woff2') format('woff2'),
        url('/static/fonts/formula1-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

body, p, h3 {
    font-family: 'formula1display-bold', 'formula1display-regular', 'formula1display-wide', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    background-position: center center;
    background-image: url('../images/background/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -3px;
}

a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Imposta il colore del link al colore del testo circostante */
}


.title {
    color: #000000;
}

.footer-bar {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #242424;
    padding: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ombra per effetto di elevazione */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
    max-width: 750px;
    margin: 0 auto;
}

.grid-item {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100px;
}

.team-logo {
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

.team-logo img {
    width: 40%;
    height: auto;
}

.driver-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.driver {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}

.driver-image, .jacket img{
    width: 40%;
    height: auto;
    object-fit: cover;
}

.driver-name {
    left: -20px;
    background-color: #000000;
    padding: 5px 10px;
    font-size: 1em;
    color: #ffffff;
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'formula1display-bold', 'formula1display-regular', 'formula1display-wide', Arial, sans-serif;
    position: relative;
    transform: skew(-40deg);
    transform-origin: bottom;
}

.driver-name-wrapper {
    transform: skew(40deg);
}

.next-button {
    padding-right: 2%;
    border: none;
    background-color: #ff2800;
    font-size: 1.5em;
    color: #ffffff;
    width: 15vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'formula1display-bold', 'formula1display-regular', 'formula1display-wide', Arial, sans-serif;
    position: absolute;  /* Posiziona il bottone relativamente al contenitore */
    right: 0;            /* Allinea il bottone al bordo destro */
    bottom: 10px;        /* Imposta una distanza dal fondo della barra */
    transform: skew(-40deg); /* Mantiene l'inclinazione */
    transform-origin: bottom;
    z-index: 1;
}

.next-button-text {
    transform: skew(40deg);
}

.next-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffffff;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.next-button:hover {
  color: #ff2800;
}
.next-button:hover:after {
  left: 0;
  width: 100%;
}
.next-button:active {
  color: #ff2800;
  top: 2px;
}

.back-button {
    border: none;
    background-color: #4d4d4d;
    font-size: 1.5em;
    color: #ffffff;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'formula1display-bold', 'formula1display-regular', 'formula1display-wide', Arial, sans-serif;
    position: absolute;  /* Posiziona il bottone relativamente al contenitore */
    left: 0;             /* Allinea il bottone al bordo sinistro */
    bottom: 10px;        /* Imposta una distanza dal fondo della barra */
    transform: skew(40deg);
    transform-origin: bottom;
    z-index: 1;
}

.back-button-text {
    transform: skew(-40deg);
}

.back-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffffff;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.back-button:hover {
  color: #ff2800;
}
.back-button:hover:after {
  left: 0;
  width: 100%;
}
.back-button:active {
  color: #ff2800;
  top: 2px;
}

.jacket {
    position: absolute;
    top: 0;
    left: -50;
}

.driver-jacket {
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 1;
}

.red-bull .driver-name {
    background-color: #120c33;
}

.ferrari .driver-name {
    background-color: #ff2800;
}

.mclaren .driver-name {
    background-color: #fa9302;
}

.aston-martin .driver-name {
    background-color: #2e5744;
}

.mercedes .driver-name {
    background-color: #4a8a77;
    color: #000000;
}

.alpine .driver-name {
    background-color: #29374a;
    color: #3a6094;
}

.williams .driver-name {
    background-color: #0c2954;
    color: #4c7aba;
}

.sauber .driver-name {
    background-color: #000000;
    color: #1be600;
}

.racing-bulls .driver-name {
    background-color: #253bb8;
}

.haas .driver-name {
    background-color: #ff2800;
}


.winners-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

.winner {
    text-align: center;
    margin: 20px;
}

.winner-driver-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.winner-driver-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.winner-driver-jacket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.winner-team-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.winner-text {
    font-size: 18px;
}

.results-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.results-container-final {
    display: flex;
    justify-content: space-between;
}

.results-column {
    flex: 1;
    margin: 0 10px;
}

.race-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.race-results-wcc {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}

.result-item-ferrari,
.result-item-haas,
.result-item-racing-bulls,
.result-item-red-bull,
.result-item-mclaren,
.result-item-mercedes,
.result-item-williams,
.result-item-alpine,
.result-item-aston-martin,
.result-item-sauber,
.result-item-transfer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;
    border-radius: 5px;
}

.result-item-ferrari { background-color: #ff2800; }
.result-item-haas { background-color: #ff2800; }
.result-item-racing-bulls { background-color: #253bb8; }
.result-item-red-bull { background-color: #120c33; }
.result-item-mclaren { background-color: #fa9302; }
.result-item-mercedes { background-color: #4a8a77; }
.result-item-williams { background-color: #0c2954; }
.result-item-alpine { background-color: #29374a; }
.result-item-aston-martin { background-color: #2e5744; }
.result-item-sauber { background-color: #000000; }
.result-item-transfer { background-color: #29374a; }

.race-driver {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
}

.race-driver-image {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    z-index: 1;  /* La testa sarà dietro la giacca */
}

.race-driver-jacket {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: -10;
    object-fit: cover;
    z-index: 2;  /* La giacca sarà davanti alla testa */
}

.race-driver-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
}

.race-driver-name,
.race-points,
.race-position {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
}

.gp-name {
    font-weight: bold;
    font-size: 10px;
    margin-left: 10px;
    padding: 10px;
}



$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

body {
  display: flex;
  height: 99vh;       /* Altezza minima 100% della viewport */
  font-size: 1.5rem;
  background-color: #222222;
}

.form__group {
  position: absolute;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra orizzontalmente */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: #ffffff; /* Colore del testo dell'input */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent; /* Nasconde il placeholder */
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ff2800;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -20px; /* Sposta la label sopra l'input */
    display: block;
    transition: 0.2s;
    font-size: 0.9rem; /* Riduce la dimensione del font */
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

input[type="radio"] {
    appearance: none;  /* Rimuove il puntino */
    -webkit-appearance: none;  /* Per browser WebKit (come Safari) */
    -moz-appearance: none;  /* Per Firefox */
}

input[type="radio"]:checked + label .team-name {
    color: blue;  /* Blu chiaro */
}

.teams-selection {
    display: flex; /* Usa flexbox per disporre gli elementi in orizzontale */
    flex-wrap: wrap; /* Permette di andare a capo se lo spazio è insufficiente */
    justify-content: space-around; /* Distribuisce gli elementi con spazio attorno */
    margin: 20px 0; /* Aggiunge margine verticale */
}

.team-option {
    margin: 10px; /* Spazio attorno ad ogni team */
    text-align: center; /* Centra il testo sotto l'immagine */
}

a.team-logo {
    display: inline-block; /* Assicurati che il link abbia un'area cliccabile */
}

a img {
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.team-car {
    width: 20%;
    height: auto;
}

.team-logo-large {
    width: 3%;
    height: auto;
}

/* Modifica la visualizzazione della classifica in un'unica colonna su dispositivi mobili */
@media (max-width: 768px) {
        h1, h3, p, div {
            font-size: 1.1rem;
        }

        .grid-container {
            align-items: center;
            grid-template-columns: 1fr;
            gap: 2%;
        }

        .team-info-container {
            padding: 10px;
        }

        .driver {
            width: 100%;
        }

        .driver-info {
            display: flex;
            width: 25vw;
            height: auto;
            align-items: center; /* Centra verticalmente, se necessario */
            gap: 10px; /* Spazio tra immagine e nome */
            justify-content: flex-start; /* Allinea gli elementi a sinistra */
            width: 100%; /* Imposta la larghezza a 100% per occupare tutto lo spazio disponibile */
        }

        .driver-image, .jacket img{
            width: 25vw;
            height: auto;
            object-fit: contain; /* Impedisce deformazioni nelle immagini */
        }

        .driver-name {
            width: 40vw;
            height: auto;
        }

        .team-logo img, .team-option img {
            width: 10vw;
            height: auto;
        }

        /* Footer bar fissata al fondo */
        .footer-bar {
            position: fixed; /* Rende la footer bar fissa in basso */
            bottom: 0;
            width: 100%;
            height: 1vh;
            display: flex;
            justify-content: space-between;
            background-color: #333; /* Aggiungi colore di sfondo per visibilità */
            color: white;
        }


        .next-button,
        .back-button {
            width: 50vw; /* Aumenta la larghezza dei bottoni */
            height: 5vh; /* Aumenta l'altezza dei bottoni */
        }
        .next-button {
            padding-right: 10%;
            align-items: right;
        }
        .back-button {
            align-items: left;
        }
        .results-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5%;
            margin: 0; /* Rimuovi eventuali margini di default */
        }

        .results-column {
            width: 100%; /* Rende la colonna più larga su dispositivi mobili */
        }

        .race-results {
            font-size: 1.3em; /* Aumenta la dimensione del testo per dispositivi mobili */
        }

        .result-item {
            font-size: 1.3em; /* Aumenta la dimensione del testo per ogni risultato */
            padding: 10px; /* Aumenta lo spazio tra gli elementi */
        }

        .race-driver-name {
            font-size: 1.6em; /* Ingrandisce il nome del pilota */
        }

        .race-points {
            font-size: 1.4em; /* Ingrandisce i punti della gara */
        }
        /* Impostare il body per occupare tutta la finestra */
        body {
            display: flex;
            flex-direction: column;
            margin: 0; /* Rimuovi eventuali margini di default */
        }

        /* Contenitore principale, assicura che lo spazio sia disponibile sopra la footer bar */
        .main-container {
            flex-grow: 1; /* Permette al contenuto di occupare lo spazio disponibile */
            overflow-y: auto; /* Abilita lo scroll se il contenuto è troppo lungo */
            overflow-x: hidden;
            width: 100%;
            height: 85vh;
            padding-top: 2vh;
        }

        /* Footer bar fissa in basso */
        .footer-bar {
            position: fixed; /* La barra footer rimane fissa */
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #333; /* Colore di sfondo per visibilità */
            color: white;
            z-index: 1000; /* Assicura che la footer bar sia sopra gli altri contenuti */
        }

        .team-info-container {
            padding: 10px;
        }

        .team-car {
            width: 70vw;
            height: auto;
        }
}

